<html>
    <body class="body">
        <link rel="stylesheet" href="../static/design.css">
        <form action="http://127.0.0.1:5000/log" method="post">
            <p>Enter the request : </p>
            <p><input type="text" name="ping"></p>
            <p><input type="submit" value="submit_post"></p>
        </form>
        <form action="http://127.0.0.1:5000/log" method="get">
            <p>Enter the request : </p>
            <p><input type="text" name="ping"></p>
            <p><input type="submit" value="submit_get"></p>
        </form>
    </body>
</html>